@model TalkApiClient.Model.ChatChannelRequest

@{
    ViewData["Title"] = "Create POST /api/chat-channels";
}

<h1>@ViewData["Title"]</h1>

<form method="post">
    <partial name="CreateEditPartialChatChannel" model="Model" />

    <button class="btn btn-primary" type="submit">Create</button>
</form>